<!DOCTYPE html>
<html>
  <head>
    <title>Final Price</title>
  </head>
  
  <body>
      <p>Mail Type: <%= typeofmail %></p>
      <p>Weight: <%= weight %></p>
      <p>Total Cost: <%= cost %></p>
  </body>
</html>